.homeBox {
  width: 100%;
  margin-bottom: 0.8rem;
  .bannerBox {
    margin-top: 1.05rem;
    width: 100%;
    background: #f0f0f0;
    // margin-bottom: 1.05rem;

    .swiper-container {
      text-align: center;
      //height: 100%;
      //line-height: 100%;
      //background: #364d79;
      overflow-x: hidden;
      padding-top: .1rem;

      .attentionBox {
        width: 100%;
        li {
          background: #FFF;
          margin-bottom: .2rem;
          .header {
            display: block;
            padding: .15rem .1rem;
            width: 100%;
            height: 1.2rem;
            line-height: 1.2rem;
            text-align: left;
            overflow: hidden;
            .headPortrait {
              float: left;
              padding-left: .3rem;
              height: 1.2rem;
              width: 1.2rem;
              img {
                border-radius: 100%;
                display: block;
                height: .8rem;
                width: .8rem;
                //width: 100%;
                //height: 100%;
              }
            }
            .headerInfo {
              float: left;
              height: 1.2rem;
              width: 4rem;
              //  margin-left: .2rem;
              h4 {
                position: relative;
                left: 0;
                top: -.2rem;
                display: block;
                height: .8rem;
                line-height: .8rem;
                margin: 0;
                font-weight: 600;
                font-size: 15px;
              }
              .time {
                position: relative;
                left: 0;
                top: -.4rem;
                display: block;
                height: .4rem;
                line-height: .4rem;
                color: #a3a3a3;
              }
            }
          }
          .notes {
            width: 100%;
            line-height: .4rem;
            height: auto;
            max-height: 1.2rem;
            padding: .2rem .5rem;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .commentBox {
            width: 100%;
            height: .8rem;
            line-height: .8rem;
            border-top: 1px solid #e7e7e7;
            display: flex;
            .detailsComment {
              flex: 1;
              font-size: 15px;
              .active1{
                color: red;
              }
              span {
                color: #232323;
                margin-left: .1rem;
              }
            }
          }
          .imageList3 {
            display: block;

            img {
              display: inline-block;
              height: 2.2rem;
              width: 2.2rem;
              margin-right: .1rem;
            }
          }
          .imageList2 {
            padding-left: .4rem;
            // display: flex;
            img {
              // flex:1;
              display: inline-block;
              height: 3rem;
              width: 3rem;
              margin-right: .4rem;
            }
          }
          .imageList1 {
            padding-left: .1rem;
            display: block;
            img {
              display: inline-block;
              height: 7rem;
              width: 6rem;
            }
          }
        }
      }
      .discoverBox {
        width: 100%;
        .navTitle {
          display: flex;
          width: 100%;
          border-radius: .1rem;
          background: #F8F8FF;
          padding: 0.1rem 0.1rem;
          li {
            flex: 1;
            height: .4rem;
            line-height: .4rem;
            margin-right: .2rem;
            text-align: center;
            color: #333;
            font-size: 13px;
          }
        }
        .recommendList{
          width: 100%;
          overflow-x: hidden;
          margin-top: 1.2rem;
          ul{
            width: 100%;
            li{
              box-sizing: border-box;
              float: left;
              width: 44%;
              overflow-x: hidden;
              margin: .1rem .2rem;
              border: 1px solid #bfbfbf;
              border-radius: 12px;
              box-shadow: 2px 2px 5px 2px #dddddd;

              img{
                display: block;
                //padding: .1rem .2rem;
                width: 100%;
                height: 4rem;
              }
              .content{
                //display: block;
                padding: 0 .25rem;
                line-height: .4rem;
                height: .8rem;
                overflow:hidden;
                text-overflow:ellipsis;
                display:-webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:2;
                color: #232323;
                font-size: 13px;
              }
              .footer{
                width: 100%;
                overflow: hidden;
                height: 1rem;
                line-height: 1rem;
                padding-left: .1rem;
                .left{
                  float: left;
                  //   padding-left: .15rem;
                  height: .8rem;
                  width: 2.2rem;
                  //overflow-x: hidden;
                  //text-overflow: clip;
                  img{
                    position: relative;
                    left: 0;
                    top: -0.04rem;
                    display: inline-block;
                    width: .7rem;
                    height: .7rem;
                    border-radius: 50%;
                  }
                  .name{
                    margin-left: 0.05rem;
                    font-size: 12px;
                    height: .8rem;
                    line-height: .8rem;
                  }
                }
                .right{
                  float: right;
                  height: 1rem;
                  line-height: 1rem;
                  //padding-right: .2rem;
                  width: .8rem;
                  color: #4a4a4a;
                  text-align: center;
                  .active1{
                    color: red;
                  }
                  i{
                    margin-right: .1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
