@button-color: #ffffff;

.personLoginBox {
  width: 5rem;
  position: absolute;
  top: 2rem;
  left: 1.3rem;
  padding: .4rem;
  h4 {
    position: absolute;
    top: -1rem;
    left: 1.6rem;
    font-size: .35rem;
    color: #353535;
  }
  p {
    line-height: .6rem;
    font-size: .4rem;
  }
  .return{
    position: absolute;
    top: -1.5rem;
    left: -0.3rem;
    width: .8rem;
    height: .8rem;
  }
}

ul {
  li {
    a {
      color: @button-color;
      img {
        margin-right: .1rem;
      }
    }

  }
  .wx {
    position: absolute;
    top: 11.75rem;
    left: 10%;

  }
  .qq {
    position: absolute;
    top: 11.75rem;
    left: 30%;

  }
  .weibo {
    position: absolute;
    top: 11.75rem;
    left: 50%;

  }
  .fb {
    position: absolute;
    top: 11.75rem;
    left: 70%;
  }
}


